*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
}


nav{
    background-image:linear-gradient(60deg, #17314d 0%, #0d1d2e 100%);
   /* background:  #17314d; */
    height: 80px;
    width: 100%;
    position: fixed;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    padding: 0px 100px;
}

nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;

    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;

    display: none;
}

#check{
    display: none;
}


#schr1{
text-transform: uppercase;
color: white;
padding-top: 130px;
padding-left: 500px;
font-size: 200px;
font-weight: bolder; 
}
#schr2{
text-transform: uppercase;
color: white;
padding-left:400px;
font-size: 200px;
font-weight: bolder;
}

#uabout{
    color: white;
    padding-left: 420px;
    font-size: 100px;
    padding-top: 80px;
}

#uservice{
    color: white;
    padding-left: 480px;
    font-size: 100px;
    padding-top: 80px;
}

#ucontact{
    color: white;
    padding-left: 500px;
    font-size: 100px;
    padding-top: 80px;
}

#ufeedback{
    color: white;
    padding-left: 300px;
    font-size: 100px;
    padding-top: 80px;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}


@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        text-align: center;

        top: 80px;
        left: -100%;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }


    nav ul li a{
        font-size: 20px;
    }

    a.active,a:hover{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }


    #schr1{
        text-transform: uppercase;
        color: white;
        padding-top: 260px;
        padding-left: 108px;
        font-size: 80px;
        font-weight: bolder;
        overflow-x: hidden;
        }
        #schr2{
        text-transform: uppercase;
        color: white;
        padding-left:70px;
        font-size: 80px;
        font-weight: bolder;
        overflow-x: hidden;
        }

        #uabout{
            color: white;
            padding-left: 30px;
            font-size: 50px;
            padding-top: 100px;
        }
        
        #uservice{
            color: white;
            padding-left: 60px;
            font-size: 50px;
            padding-top: 100px;
        }
        
        #ucontact{
            color: white;
            padding-left: 60px;
            font-size: 50px;
            padding-top: 100px;
        }
        
        #ufeedback{
            color: white;
            padding-left: 67px;
            font-size: 50px;
            padding-top: 100px;
        }
   
}


#header{
    background: url(stars.jpg) no-repeat;
    background-size: cover;
   /* height: calc(100vh - 80px); */
    height: 812px;
    overflow: hidden;
    
    
    
}

#about{
    height: 812px;
    background-color: #19334f;
}

#service{
    height: 812px;
    background-color: #204063;
}

#contact{
    height: 812px;
    background-color: #14283d;
}

#feedback{
    height: 812px;
    background-color: #203852;
}


footer{
    height: 200px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

